#m {
  border: 14px solid #fc6;
  width: 14px;
  color: #fc6;
}
.rebranding-sizes #m {
  border: 16px solid #fc6;
  width: 16px;
}
.rebranding-colors #m {
  border: 14px solid #f93;
  color: #f93;
}
.rebranding-sizes.rebranding-colors #m {
  border: 16px solid #f93;
}
