#m {
  border: 5px solid #fc6;
}
.rebranding-sizes #m {
  border: 1005px solid #fc6;
}
.rebranding-colors #m {
  border: 5px solid #f93;
}
.rebranding-sizes.rebranding-colors #m {
  border: 1005px solid #f93;
}
